/* **********PROPRIETES GLOBALES********** */

body
{
    background-image: url("images/deskmob.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
    opacity: 0.8;
}

h2
{
    color:black;
    font-size:1.1em;
}

p
{
    color: black;
    font-size: 0.8em;
}

a:hover
{
    text-decoration: none;
}


/* **********BARRE DE NAVIGATION********** */

#navbar 
{
    display: flex;
    width: 100%;
    height: 43px;
    position: absolute;
    z-index: 999;
    background-color: rgb(102,102,102);
    opacity: 0.9;
    justify-content: space-between;

}

@media (orientation: landscape)
{
    #navbar
    {
        height: 40px;
    }
}

#identity
{
    padding-top: 1px;
    margin-left: 1%;
    margin-right: 5%;
    font-size: 1.5em;
}

#identity h2
{
    color: white;
}

.menuItem
{
    display: none;
}

#mobMenu
{
    display: flex;
    flex-direction: column;
}

#mobMenuButton img
{
    float: right;
    opacity: 0.3;
}

#mobMenuDisp
{
    background-color: rgb(6,69,124);
}

#mobMenuDisp a
{
    color: white;
    text-align: center;
    font-weight: bold;
}

#mobMenuDisp p
{
    text-align: center;
}

.mobMenuItem
{
    
    border-bottom: 1px solid grey;
    margin: 0; 
    height: 45px;  
    width: 110px; 
}

.mobMenuItem 
{
    display: flex;
    cursor: pointer;
}

.mobMenuItem p
{
    margin: auto;
    text-align: center;
}

.mobMenuItem a
{
    margin: auto;
    text-align: center;
}


@media (max-width: 360px) and (max-height: 600px) 
{
    #identity
    {
        margin-left: 1%;
    }

    .mobMenuItem
    {        
        height: 40px; 
        width: 100px;
    }

}


/* **********PROPRIETES COMMUNES A CHAQUE SECTION********** */

.section
{
    width: auto;
}

.xpTitle
{
    display: none;
}

.xpTitleMob
{
    background-color: rgb(204,204,255);
    border-radius: 10px;
    padding: 5px;
    width: auto;
}

#about, #skills, #career, #training, #other, #contactMe
{
    width: 90%;
    height:90%;
    padding: 0;
    background-color: rgb(225, 225, 234);
}

@media (min-width: 480px) and (max-width: 970px)
{
    #about, #skills, #career, #training, #other, #contactMe

{
    width: 95%;
    height:90%;
    padding: 0;
}

}

/*@media (min-width: 420px) and (max-width: 1280px)
{
    #about, #skills, #career, #other, #contactMe
        {
        width: 95%;
        height:90%;
        padding: 0;
        background-color: rgb(225, 225, 234);
        }
}*/

@media (orientation: landscape) 
{
     #about, #skills, #career, #training, #other, #contactMe
    {
        width: 95%;
        height: 87%;
        padding: 0;
        background-color: rgb(225, 225, 234);
    }   
}


.boldTitle
{
    font-weight: bold;
}

.miniPara
{
    font-size: 0.8em;
}


/* **********SECTION A PROPOS**********  */

.aPropos h2
{
    text-align: center;
    font-size: 1.3em;
}

.aPropos p
    {
        font-size: 1.2em;
    }

#about
{
    background-image: url(images/aproposMob.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-left: 1%;
    padding-right: 1%;
}

.contentTitle
{
   width: 100%;
   text-align: center;
}

.mobBr
{
    display: none;
}

@media (max-width: 500px) 
{

    .aPropos h2
        {
            font-size: 1.1em;
        }
    
    .aPropos p
        {
            font-size: 0.7em;
        }
}



/*@media (orientation: landscape)*/ @media (max-height: 525px)

{
    #about
    {
        display: flex;
    }

    .aPropos
    {
        margin-left: 10%;    
    }

    .aPropos p
    {
        font-size: 0.7em;
    }
}

@media (max-width: 360px) and (max-height: 601px) 
{
    #about img
    {
        width: 30%;
        height: 30%;
    }
}

@media (max-width: 601px) and (max-height: 360px)  and (orientation: landscape)
{
    #about img
    {
        width: 60%;
        height: 30%;
    }

    .aPropos
    {
        margin-left: 4%;
    }
}


/* **********SECTION COMPETENCES**********  */

#skills
{
    margin-top: 0;
    background-image: url(images/competencesMob.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.competences
{
    display: none;
}

#dispLogo
{
    display: none;
}

.miniCompetences
{
    display: flex;
    flex-direction: column;
}

.mobDevSkillDesc, .mobLearnSkillDesc, .mobEngSkillDesc, .mobWriteSkillDesc, .mobMngmtSkillDesc
{
    background-color: rgb(204,204,255);
    border-radius: 10px;
    padding: 5px;
    width: auto;
}

button
{
    margin-top: 2%;
}

/*@media (orientation: landscape)*/ @media (max-height: 480px)
{

    .miniCompetences
    {
        padding-left: 1%;
        display: flex;
        flex-direction: row;
    }

    .mobDevSkillDesc, .mobLearnSkillDesc, .mobEngSkillDesc, .mobWriteSkillDesc, .mobMngmtSkillDesc
{
    position: absolute;
    top: 25%;
    left: 2%;
    border-radius: 10px;
    padding: 5px;
    width: auto;
}
}




/* **********SECTION EXPERIENCES**********   */

#career
{
    background-image: url(images/experiencesMob.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

ul {
    list-style:square;
    margin-left:15px;
    padding-left:0;
}

.xpTitleMob
{
    cursor: pointer;
}

.typeExp
{
    color: rgb(255, 102, 0);
}

.mobHide
{
    display: none;
}

.missions
{
    margin-top: 0;
    margin-bottom: 0;
}

.resultats
{
    margin-top: 0;
    margin-bottom: 0;
}

#dispMissionsIT, #dispMissionsPedago, #dispMissionsAdm
{
    cursor: pointer;
}

#dispResultsIT, #dispResultsPedago, #dispResultsAdm
{
    cursor: pointer;
}


/*#paraXpIT
{
    display: none;
}*/

#paraXpPedago
{
    display: none;
}

#paraXpAdm
{
    display: none;
}

/*.paraXpITMob
{
    display: none;
}*/

.paraXpPedagoMob
{
    display: none;
}

.paraXpAdmMob
{
    display: none;
} 

.clicMob
{
    color: red;
    font-style: italic;
}

/*#xpTitleITMob
{
    background-color: rgb(128, 179, 255);
}*/


@media (max-height: 480px)
{
    .missions
    {
        margin-top: 0;
        margin-bottom: 0;
    }

    .resultats
    {
        margin-top: 0;
        margin-bottom: 0;
    }

    .xpTitleMob
    {
        margin-top: 1%;
        margin-bottom: 0;
        width: 48%;
        height: 100%;
    }

    #expIT, #expPedago, #expAdm
    {
        display: flex;
/*        height: 100px;*/
    } 

    #blockPedAmd
    {
        position: absolute;
        top: 10px;
        /*margin-top: 0;*/
    }

    .paraXpITMob, .paraXpPedagoMob, .paraXpAdmMob
    {
        position: absolute;
        top: 5%;
       /* margin-top: 0;*/
        margin-left: 46%;
        padding-top: 1%;
        width: 50%;
    }

}

@media (max-width: 360px) and (max-height: 600px)
{
    .miniHide
    {
        display: none;
    }

    #career p
    {
        font-size: 0.8em;
    }

    #career li
    {
        font-size: 0.9em;
    }

    .xpTitleMob
    {
        margin-bottom: 1%;
    }

    .paraXpITMob
    {
        margin-top: 0;
        padding-top: 0;
    }
}

/* **********SECTION FORMATION**********   */

#training
{
    background-image: url(images/formationMob.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}


#trainDisp
{
    margin-left: 1%; 
    margin-top: 1%;
}


/*@media (orientation: landscape)*/ @media (max-height: 480px)
{
    #trainDisp .hideMe
    {
        display: none;
    }
}

/* ************SECTION CENTRES D'INTERET********** */

/*@media (orientation: landscape)*/ @media (max-height: 480px)
{
    .hideMeLand 
    {
        display: none;
    }

    #otherDisp .hideMe
    {
        display: none;
    }
    
/*    #titreSCMob
    {
        display: none;
    }*/

/*    iframe
    {
        display: none;
    }*/
}

#other
{
    padding-left: 1%;
    padding-right: 1%;
}

/*#otherDisp
{
    margin-left: 10%; 
    margin-top: 5%;    
}*/

#scLink
{
    color: rgb(255, 102, 0);
    font-style: italic;
}

#scLink:hover
{
    color:white;
    text-decoration: underline;
}

#other
{
    background-image: url(images/interetsMob.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

#titresSC
{
    display: none;
}

#track2
{
    display: none;
}


/* **********SECTION CONTACT**********  */

#contactMe
{
    background-image: url(images/contactMob.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-top: 1%;
    padding-left: 1%;
}

.cLink
{
    color: rgb(255, 102, 0);
}

.mapLoc
{
    margin-bottom: 0;
}

#showMap
{
    width: 75%;
    height: 50%;
}

#map
{
    margin-top: 0;
    padding-top: 0;
    height: 85%;
    width: 100%;
}


@media (orientation: landscape) 
{

    #contactMe
    {
        display: flex;
        padding-top: 1%;
    }

    #coordBlock
    {
        margin-right: 8%;
        margin-left: 8%;
    }

    #showMap
    {
        width: 40%;
        height: 75%;
    }

    #map
    {
        height:85%;
        width: 100%;
    }
}

@media (max-width: 360px) and (max-height: 600px) 
{

    #coordBlock
    {
        margin-right: 10%;
        margin-left: 10%;
        margin-left: 2%;
    }

     #showMap
    {
        width: 70%;
        height: 45%;
        margin-right: 20%;
    }

}




/*.contactBlock
{
    display: flex;
}*/

/*.numTel .adrDesc .mailDesc .mapDesc
{
    padding-top: 10px;
    height: 80px;
    background-color: rgb(255, 230, 255);

}   */


/*#map
{

    height:220px;
    width: 220px;
}*/

/*@media (min-width: 400px) and (max-width: 1280px)
{
    #map
    {
        height:220px;
        width: 220px;
        border: 1px solid black;
    }
}*/
