/* **********POLICES DE CARACTERE********** */

@font-face {
    font-family: 'cantarellregular';
    src: url('fonts/Cantarell-Regular-webfont.eot');
    src: url('fonts/Cantarell-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Cantarell-Regular-webfont.woff2') format('woff2'),
         url('fonts/Cantarell-Regular-webfont.woff') format('woff'),
         url('fonts/Cantarell-Regular-webfont.ttf') format('truetype'),
         url('fonts/Cantarell-Regular-webfont.svg#cantarellregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('fonts/OpenSans-Bold-webfont.eot');
    src: url('fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Bold-webfont.woff2') format('woff2'),
         url('fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* **********PROPRIETES GLOBALES********** */

body
{
    background-image: url("images/desk.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: 0.8;
}

h2
{
    color:white;
    font-size:1.4em;
}

p
{
    color:rgb(204,204,255);
    font-size: 0.8em;
}

a
{
    color:rgb(204,204,255);
    text-decoration: none;
}

a:hover
{
    color:white;
    text-decoration: none;
}


/* **********BARRE DE NAVIGATION********** */

#navbar {
width: 100%;
height: 50px;
position: absolute;
z-index: 999;
display: flex;
background-color: rgb(102,102,102);
opacity: 0.9;
padding-left: 20%;
padding-right: 20%;
}

p:hover
{
    color: white;
}

#identity
{
    padding-top: 1px;
    margin-right: 5%;
    font-size: 1.5em;
}

.menuItemList
{
    padding-top: 1%;
    display: flex;
}
.menuItem
{
    padding-top: 1%;
    padding-bottom: 0;
    width: auto;
    margin-right:2px; 
    margin-left:2px;
    padding-left: 2px; 
    padding-right: 2px;
}

#mobMenu
{
    display: none;
}

.menu-btn
{
    display: none;
}    

@media (min-width: 1280px) and (max-width: 1450px)
{

#navbar {
width: 100%;
height: 50px;
position: absolute;
z-index: 999;
display: flex;
background-color: rgb(102,102,102);
opacity: 0.9;
padding-left: 15%;
padding-right: 10%;
}




}

/* **********PROPRIETES COMMUNES A CHAQUE SECTION********** */

#about, #skills, #career, #training, #other, #contactMe
{
    width: 98%;
    height:85%;
    display: flex;
    background-color: rgb(225, 225, 234);
}

.boldTitle
{
    font-weight: bold;
}

.sectionContent h2
{

    color: black;  
    margin-bottom: 0; 
}

.contentTitle img
{
    padding-top: 20px;    
}

.sectionContent p
{
    color: black; 
    margin-bottom: 0;
/*    font-size: 1.2em;*/
}

.italicPara
{
    font-size: 0.8em;
    font-style: italic;
}

/* **********SECTION A PROPOS**********  */

#about
{
    background-image: url(images/apropos.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.contentTitle
{
   width: 25%;
   text-align: center;
   margin-top: 10%;
   margin-left: 10%;
}

.aPropos
{
    font-size: 1.4em;
    width:40%;
    margin-top: 10%;
    margin-left: 2%;
}

@media (min-width: 1281px) and (max-width: 1600px) 

{

   .contentTitle
{
       width: 25%;
       text-align: center;
       margin-top: 2%;
       margin-left: 5%;
}

    .aPropos
{
        width:60%;
        margin-top: 2%;
        margin-left: 2%;
}

}



/* **********SECTION COMPETENCES********** */

.competences
{
    margin-left: 10%;
/*    margin-top: 5%;*/
    width: 50%;
/*    border: 1px solid black;*/
}

#funnyButtons
{
    /*margin-left: 20%;
    margin-top: 5%;
    width: 100%;*/
}

#skills
{
    background-color: rgb(225, 225, 234);
}

#dispLogo
{
    width: 30%;
    margin-top: 5%;
    margin-right: 100px;
}

.logoLine
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.devSkillDesc, .learnSkillDesc, .engSkillDesc, .writeSkillDesc, .mngmtSkillDesc
{
    font-size: 1.2em;
    background-color: rgb(204,204,255);
/*    opacity: 0.8;*/
    border-radius: 10px;
    padding: 5px;
    width: 80%;
}

@media (min-width: 1400px) and (max-width: 1600px) 
{
    .devSkillDesc, .learnSkillDesc, .engSkillDesc, .writeSkillDesc, .mngmtSkillDesc
    {
            font-size: 1em;
    }
}

@media (min-width: 1281px) and (max-width: 1399px)
{
    .devSkillDesc, .learnSkillDesc, .engSkillDesc, .writeSkillDesc, .mngmtSkillDesc
    {
            font-size: 0.8em;
    }
}

#skills
{
    background-image: url(images/competences.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.miniCompetences
{
    display: none;
}


/* **********SECTION EXPERIENCES**********   */

#career
{
    background-image: url(images/experiences.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.xpTitle
{
    font-size: 1.2em;
}

.missions, .resultats
{
    font-size: 1.2em;
}

.miniPara
{
    font-size: 1.1em;
}

@media (min-width: 1367px) and (max-width: 1600px) 
{
    .xpTitle
    {
        font-size: 1em;
    }

    .missions, .resultats
    {
        font-size: 1em;
    }

    .miniPara
    {
        font-size: 0.9em;
    }

}

@media (min-width: 1281px) and (max-width: 1366px) 
{
    .xpTitle
    {
        font-size: 0.9em;
    }

    .missions, .resultats
    {
        font-size: 0.9em;
    }

    .miniPara
    {
        font-size: 0.7em;
    }

}




#expIT
{
    width: 50%;
    height: 88%;
    margin-top: 0.2%;
    margin-left: 3%;
    margin-right: 10px;
    background-color: rgb(204,204,255);
/*    opacity: 0.8;*/
    border-radius: 10px;
    padding: 5px;     
}

#blockPedAdm
{
    margin-top: 0.2%;
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#expPedago
{
    background-color: rgb(204,204,255);
/*    opacity: 0.8;*/
    border-radius: 10px;
    padding: 5px;
/*    margin-top: 25px;*/
    width:80%;

}

#expAdm
{  
    background-color: rgb(204,204,255);
/*    opacity: 0.8;*/
    border-radius: 10px;
    padding: 5px;
    width: 80%;
    height: 55%;
/*    margin-top: 10px;*/
}

@media (min-width: 1281px) and (max-width: 1750px)
{

#expIT
{
    width: 100%;
    height: 84%;
    margin-top: 0.2%;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(204,204,255);
    border-radius: 10px;
    padding: 5px; 
}

#blockPedAdm
{
    width: 52%;
    padding-right: 1%;

    margin-top: 0.2%;
    height: 84%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#expPedago
{
    background-color: rgb(204,204,255);
    border-radius: 10px;
    padding: 5px;
/*    margin-top: 25px;*/
    width:100%;
    margin-right: 1%;

}

#expAdm
{  
    background-color: rgb(204,204,255);
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    height: 50%;
/*    margin-top: 10px;*/
    margin-right: 1%;
}


}



.typeExp
{
    color: rgb(255, 102, 0);
}

.xpTitleMob
{
    display: none;
}

.clicMob
{
    display: none;
}

.xpParaITMob
{
    display: none;
}

.xpParaPedagoMob
{
    display: none;
}

.xpParaAdmMob
{
    display: none;
}


/* **********SECTION FORMATION**********   */

#training
{
/*    width: 98%;
    height:85%;
    background-color: rgb(225, 225, 234);*/
    background-image: url(images/formation.png);
    background-repeat: no-repeat;
    background-position: bottom right;
/*    border: 1px solid rgb(225, 225, 234);*/
}

#trainDisp
{
    font-size: 1.2em;
    margin-left: 10%; 
    margin-top: 5%;
}

/*@media (min-width: 1281px) and (max-width: 1600px)
{
    #trainDisp
    {
        font-size: 1em;
        margin-top: 1%;
        margin-left: 5%;
    }
}*/


/* ************SECTION CENTRES D'INTERET********** */

#otherDisp
{
    margin-left: 8%; 
    margin-top: 5%;  
}

#otherDisp p
{
    font-size: 1.2em;
}


@media (min-width: 1281px) and (max-width: 1600px)
{
    #otherDisp
    {
        margin-left: 2%;
        margin-top: 2%;
    }

    #otherDisp p
    {
        font-size: 1em;
    }

    iframe
    {
        width: 90%;
    }

    .hideMe
    {
        display: none;
    }
}



.brDispMob
{
    display: none;
}

#scLink
{
    color: rgb(255, 102, 0);
    font-style: italic;
}

#scLink:hover
{
    color:white;
    text-decoration: underline;
}

#other
{
    background-image: url(images/interets.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

#titreSCMob
{
    display: none;
}


/* **********SECTION CONTACT**********  */

.contactBlock
{
    display: flex;
}

#coordBlock
{
    margin-top: 5%;
    margin-left: 10%;   
}

#coordBlock p
{
    font-size: 1.2em;
}

.numTel .adrDesc .mailDesc .mapDesc
{
    padding-top: 20px;
    height: 80px;
    background-color: rgb(255, 230, 255);
}   

.cLink
{
    color: rgb(255, 102, 0);
}

#showMap
{
    margin-top: 5%;
    margin-left: 9%;
    width: 30%;
    height: 60%;
}

#map
{

    height:100%;
    width: 100%;
    border: 1px solid black;
}

#contactMe
{
    background-image: url(images/greetings.png);
    background-repeat: no-repeat;
    background-position: right;
    background-image: url(images/contact.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
